<!-- menu.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
       
        <nav class="nav">
            <div class="logo">
                <img src="logo.png" alt="Логотип" class="logo__img">
            </div>
            <ul class="nav__list">
                <li class="nav__item"><a href="index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="menu.html" class="nav__link">Меню</a></li>
                <li class="nav__item"><a href="register.html" class="nav__link">Регистрация</a></li>
                <li class="nav__item"><a href="cart.html" class="nav__link">Корзина</a></li>
            </ul>
        </nav>
    </header>
    

    <section class="menu">
        <h1 class="menu__title">Меню</h1>
        <div class="menu__list">
            <div class="menu__item">
                <img src="bludo1.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Фетучини с курицей</h2>
                <p class="menu__item-description">Описание блюда 1.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo2.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Карбонара</h2>
                <p class="menu__item-description">Описание блюда 2.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo3.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Якитори с креветками</h2>
                <p class="menu__item-description">Описание блюда 3.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo4.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Кольца кальмара</h2>
                <p class="menu__item-description">Описание блюда 4.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo5.jpg" alt="Блюдо 2" class="menu__item-image">
                <h2 class="menu__item-title">Мидии запеченные с сыром</h2>
                <p class="menu__item-description">Описание блюда 5.</p>
                <button class="button add-to-cart" data-item="2">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo6.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Салями</h2>
                <p class="menu__item-description">Описание блюда 1.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo7.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Морская</h2>
                <p class="menu__item-description">Описание блюда 1.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo8.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Заокеанский</h2>
                <p class="menu__item-description">Описание блюда 1.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo9.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Калифорния с креветкой</h2>
                <p class="menu__item-description">Описание блюда 1.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo10.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Люля кебаб из курицы</h2>
                <p class="menu__item-description">Описание блюда 1.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo11.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Грибы шампиньоны</h2>
                <p class="menu__item-description">Описание блюда 1.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            <div class="menu__item">
                <img src="bludo12.jpg" alt="Блюдо 1" class="menu__item-image">
                <h2 class="menu__item-title">Шашлык свинина</h2>
                <p class="menu__item-description">Описание блюда 1.</p>
                <button class="button add-to-cart" data-item="1">Добавить в корзину</button>
            </div>
            
        </div>
    </section>

    <script src="../js/main.js"></script>
</body>
</html>
